
<!-- particles.js container -->
 <div id="particles-js"></div> 
 


<div class="text">
    <h1><b>Welcome to DIgital World</b></h1>
   <form class="form-signin">
      <div class="text-center mb-4">
       <!-- <img class="mb-4" src="/assets/logo.png" alt="" width="72" height="72">-->
      </div>

      <div class="form-label-group">
          <label for="inputEmail">Email address</label>
        {{input type="email" id="inputEmail" class="form-control" value=name placeholder="Email address" }}
        
      </div>

      <div class="form-label-group">
          <label for="inputPassword">Password</label>
        {{input type="password" id="inputPassword" class="form-control" value=password placeholder="Password" }}
        
      </div>
<br/>
     
      <button class="btn btn-lg btn-primary btn-block" type="submit" {{action "userdashboard"}}>Sign in</button>
  
    </form>
   

</div>
 <!-- particles.js lib - https://github.com/VincentGarreau/particles.js --> 
 <script src="/assets/particles.js"></script> <!-- stats.js lib --> 
<script src="assets/particles.min.js"></script>
<script src="assets/app1.js"></script>

